body{
  color: #333;
}
header{
  min-width: 960px;
  min-height: 500px;
  background: #efefef;
}
h1{
  text-align: center;
  padding-top: 230px;
  margin: 0;
}

h2{
  border-bottom: 1px solid #eee;
  color: #737373;
  padding: 30px 0;
  margin-bottom: 150px;
}
h2 span{
  display: block;
  color: #999;
  font-weight: normal;
  font-size: 14px;
}

h3{
  font-size: 38px;
  margin-bottom: 5px;
  color: #50abd6;
}
h4{
  font-size: 24px;
}

.description{
  color: #a9a9a9;
}

section{
  width: 960px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.container{
  margin: 60px 0;
}

.image-box{
  height: 500px;
  margin-bottom: 200px;
}

.img_profile{
  background: url("../image/profile.png") center center;
  background-size: cover;
}


.img_skillset{
  background: url("../image/skillset.png") center center;
  background-size: cover;
}

.img_company{
  background: url("../image/company.png") center center;
  background-size: cover;
}

.text-box{
  text-align: left;
  padding:60px 60px 0;
}
.sentence{
  font-size: 12px;
  color: #666;
}
.text-right{
  padding-left: 65%;
}
