body{
  color: #333;
}
header{
  min-width: 950px;
  min-height: 500px;
  background: #efefef;
}
h1{
  text-align: center;
  padding-top: 230px;
  margin: 0;
}

section{
  width: 950px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.container{
  margin: 60px 0;
}

.image-box{
  height: 450px;
  background: url("../image/sample.jpg") center center;
}
.text-box{
  padding-top: ;
  padding:110px 60px 0;
}
.text-right{
  padding-left: 65%;
}

h1{
  font-size: 18px;
}
